<template>
  <div class="home">
   <div class="cabecera">
    <!--<h2 class="titulo">Hola!</h2>-->
    <div class="input">
      <input type="text" placeholder="Buscar...">
      <div class="icon-input">
        <i class="fas fa-search"></i>
      </div>

    </div>
    
   </div>
   <div class="destacado">
    <div class="imagen">
      <img src="../assets/salchipapas.jpg" alt="">
    </div>
    <div class="texto">
      <h3>Salchipapa</h3>
      <p>La más pedida de los usuarios esta semana!</p>
    </div>
      
    </div>
    <div class="menu">
      <div class="m_contenido">
        <div :key="index" class="lista" v-for="(item,index) in 20">
          <i class="fas fa-hamburger"></i>
        </div>
      </div>
    </div>
    <h2>Snacks</h2>
    <div class="menu_snacks">
      <div class="m_contenido_snacks">
         <div :key="index" v-for="(item,index) in 10" class="snacks">
      
      <div class="s_item_img">
        <img src="../assets/popcorn.jpg" alt="">
      </div>
       <div class="s_item_conten">
      <div class="s_item_texto">
        <div class="s_item_titulo">
        Pop Corn
      </div>
      <div class="s_item_precio">
        S/ 10
      </div>
      
      </div>
      <div class="s_item_accion">
          <i class="fas fa-plus-circle"></i>
      </div>
       </div>
    </div>
      </div>
    </div>
   
  </div>
</template>

<style>
  .cabecera{
    padding:20px;
    background-color:blue;
  }
  .imagen{
    width:50%;
   
  }
  .menu,.menu_snacks{
    padding:20px;
  }
  .snacks{
   
    padding:10px;
  }

  .snacks .s_item_conten{
    display:flex;
    align-items:center;
    text-align:left;
  }
  .m_contenido,.m_contenido_snacks{
    display:flex;
    overflow-y:auto;
    gap:20px;
  }

  .m_contenido::-webkit-scrollbar,.m_contenido_snacks::-webkit-scrollbar {
  display: none;
}

  .m_contenido,.m_contenido_snacks{
    -ms-overflow-style: none; 
  scrollbar-width: none;
  }

  .lista{
    background-color:rgb(221, 221, 221);
    padding:10px;
    border-radius:10px;
  }
  .lista i{
    color:blue;
  }

  .s_item_accion i{
    color:green;
    font-size:30px;
  }

  .imagen img{
    width:100%;
     object-fit: cover;
     border-radius:10px;
  }

  .s_item_img{
    width:100%;
  }

  .s_item_img img{
    width:100%;
    object-fit: cover;
    border-radius:10px;
  }

  .texto{
    width:50%;
    text-align:right;
  }
  .destacado{
    margin:20px;
    padding:20px;
    border-radius:20px;
    background-color:red;
    color:white;
    display:flex;
    align-items:center;
  }

  .input{
    display:flex;
    position:relative;
    align-items:center;
  }

  .input input{
    width:100%;
    background-color:white;
    border:0px;
    outline:none;
    padding:10px;
    padding-left:30px;
    border-radius:20px;
    font-family: 'Montserrat', sans-serif;
   }

   .input .icon-input{
    padding-left:10px;
    position:absolute;
   }

  .titulo{
    text-align:left;
  }

  .snacks{
    max-width:100px;
    background-color:rgb(221, 221, 221);
    border-radius:20px;
  }
</style>
