<template>
<div class="navbar-container">
 <!-- <div id="nav">-->
   <!-- <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>-->
    <div class="navbar-content">
      <router-link to="/">
        <i class="fas fa-home"></i>
      </router-link>
      <router-link to="/lista">
        <i class="fas fa-list-alt"></i>
      </router-link>
      <router-link to="/pedidos">
        <i class="fas fa-shopping-cart"></i>
      </router-link>
      <router-link to="/mas">
        <i class="fas fa-plus"></i>
      </router-link>

    </div>  
  </div>
  <router-view/>
</template>

<style>

*{
  margin:0px;
  padding:0px;
}

.navbar-container{
  width:100%;
  position:fixed;
  bottom:0;
  background-color:rgb(221, 221, 221);
}

.navbar-content{
  padding:15px;
  display:flex;
  justify-content:space-around;
  font-size:20px;
}
a{
  color:gray;
}
.router-link-exact-active{
  color:blue;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/*
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}*/
</style>
